table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 2rem; //32px
  
}

td, th {
  border: 1px solid #29292E;
  text-align: left;
  padding: 0.75rem; //12px
  color: white;
}

.button-pdf {
  cursor: pointer;
}