.table-container {
  width: 100%; 
  overflow-x: auto; 
}

.table-dark {
  border-collapse: collapse;
  width: auto;
  height: 39.625rem; //634px
  margin-top: 2rem; //32px

  td, th {
    border: 1px solid #29292E;
    text-align: left;
    padding: 0.75rem; //12px
    color: white;
  }

  .order {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      cursor: pointer;
    }
  }
  
  .button-pdf {
    cursor: pointer;
  }
  
}

.table-light {
  border-collapse: collapse;
  width: auto;
  height: 39.625rem; //634px
  margin-top: 2rem; //32px

  td, th {
    border: 1px solid #29292E;
    text-align: left;
    padding: 0.75rem; //12px
    color: black;
  }

  .order {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      cursor: pointer;
    }
  }
  
  .button-pdf {
    cursor: pointer;
    background-color: white;
  }
  
}

@media(max-width: 494px) {
  .table-dark {
    overflow-x: auto;

    td, th {
      font-size: 12px;
    }
  }

  .table-light {
    td, th {
      font-size: 12px;
    }
  }
}