.pagination-dark {
  width: 100%;

  margin-top: 0.75rem; //12px

  display: flex;
  align-items: center;
  justify-content: flex-end;

  .container-pagination {
    display: flex;
    align-items: center;
    gap: 0.25rem; //4px

    button {
      color: white;   
      cursor: pointer;
  
      align-items: center;
  
    }

    button:disabled {
      color: rgb(80, 78, 78)
    }
  }
}

.pagination-light {
  width: 100%;

  margin-top: 0.75rem; //12px

  display: flex;
  align-items: center;
  justify-content: flex-end;

  .container-pagination {
    display: flex;
    align-items: center;
    gap: 0.25rem; //4px

    button {
      color: black;   
      cursor: pointer;
  
      align-items: center;
  
    }

    button:disabled {
      color: rgb(80, 78, 78)
    }
  }
}